extends layout

block content
  core-header-panel
    core-toolbar
      paper-tabs(valueattr="name", selected="all", self-end)
        paper-tab(name="all") Dashboard
        paper-tab(name="favorites") Settings
