doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bower/platform/platform.js')

    link(rel='import', href='/javascripts/bower/font-roboto/roboto.html')

    link(rel='import', href='/javascripts/bower/core-header-panel/core-header-panel.html')
    link(rel='import', href='/javascripts/bower/core-toolbar/core-toolbar.html')
    link(rel='import', href='/javascripts/bower/paper-tabs/paper-tabs.html')
  body(unresolved)
    block content